/*
    -------------
  > Styles import <
    -------------
 */
/*----------
 Brand styles
 ---------*/
/*----------
 Header styles
 ---------*/
.navbar {
  background-color: #f1f1f1;
  padding: 2em 0;
}
@media (min-width: 1200px) {
  .navbar {
    /* background-image: url('../img/JRLogo.png');
    background-repeat: no-repeat;
    background-position: 70 15; */
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
}
.navbar-small {
  padding: 0em;
  box-shadow: 0 1px 2px #e6e6e6;
}
.navbar-brand {
  color: #55c255;
  font-size: 1.6em;
  font-family: 'Lato', sans-serif;
  /* background: url('../img/logo.png') no-repeat 0% 50%;
  padding-left:40px; */
}
.navbar-brand:hover {
  color: #3ca83c;
  /* background-image: url('../img/logo-hover.png'); */
}
.navbar-brand #first {
  font-weight: 700;
}
.navbar-brand #second {
  font-weight: 300;
}
.icon-menu li {
  margin: 5px;
}
.icon-menu li .plus-link {
  background: url('../img/plus-red.png') no-repeat;
  padding: 20px;
  transition: all 0.2s linear;
}
.icon-menu li .plus-link:hover {
  background: url('../img/plus-red-dark.png') no-repeat;
}
.icon-menu li .github-link {
  background: url('../img/hub-red.png') no-repeat;
  padding: 20px;
  transition: all 0.2s linear;
}
.icon-menu li .github-link:hover {
  background: url('../img/hub-red-dark.png') no-repeat;
}
.icon-menu li .instagram-link {
  background: url('../img/gram-icon-red.svg') no-repeat;
  padding: 20px;
  transition: all 0.2s linear;
}
.icon-menu li .instagram-link:hover {
  background: url('../img/gram-icon-red-dark.svg') no-repeat;
}
.icon-menu-small li {
  margin: 10px 5px;
}
.icon-menu-small li .plus-link {
  background: url('../img/plus-small.png') no-repeat;
  padding: 15px;
}
.icon-menu-small li .plus-link:hover {
  background: url('../img/plus-small-dark.png') no-repeat;
}
.icon-menu-small li .github-link {
  background: url('../img/hub-small.png') no-repeat;
  padding: 15px;
}
.icon-menu-small li .github-link:hover {
  background: url('../img/hub-small-dark.png') no-repeat;
}
.icon-menu-small li .instagram-link {
  background: url('../img/gram-icon-red-small.svg') no-repeat;
  padding: 15px;
}
.icon-menu-small li .instagram-link:hover {
  background: url('../img/gram-icon-red-small.svg') no-repeat;
}
.navbar-toggle {
  background-color: #55c255;
  border-radius: 0;
}
.navbar-toggle .icon-bar {
  background-color: #ffffff;
  border-radius: 0;
}
/*----------
 Main styles
 ---------*/
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #3f3f3f;
  background-color: #f1f1f1;
}
#main {
  padding-top: 107px;
}
.element {
  padding: 20px;
  text-align: center;
}
.element .text {
  text-align: left;
}
.element .col-md-pull-6 {
  text-align: right;
}
.element:not(:last-child)::after {
  content: "...";
  color: #f1f1f1;
  font-size: 3em;
}
.grey {
  background-color: #f1f1f1;
  margin-bottom: 0;
  text-align: center;
  padding: 100px 0;
}
.grey .message {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .grey .message {
    width: 50%;
  }
}
.grey .message h1 {
  font-size: 7em;
  font-weight: 700;
}
.grey .message p {
  font-size: 1.8em;
}
.grey .message span {
  color: #55c255;
  font-size: 2em;
}
.red {
  background-color: #55c255;
  color: #ffffff;
  border-bottom: 1px solid #3ca83c;
}
.red h3 {
  font-weight: 700;
}
.red a {
  color: #ffffff;
  text-decoration: underline;
}
.red a:hover {
  color: #e6e6e6;
}
@media (min-width: 992px) {
  .red-left {
    border-right: 1px solid #3ca83c;
  }
}
.red-block {
  padding: 50px;
}
footer {
  background-color: #3ca83c;
  padding: 25px 50px;
  color: #ffffff;
}
.white {
  margin: 0 auto;
  width: 60%;
  color: #3f3f3f;
}
.white h2 {
  font-weight: 700;
}
.contact {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
}
.contact span {
  color: #55c255;
  text-decoration: none;
}
.send {
  position: relative;
  top: 3px;
  left: -10px;
}
/*
 *
 *
 */
